:root {
    --nord0: #88C0D0;
    --nord1: #81A1CA; 
    --principal-btn-color :  #9147ff ;
    --principal-btn-activo :  #f3f3f3 ;
    --main-bground-color :  #33333365 ;
    --front:  "Segoe UI", 'Hind Siliguri' , "Arial", sans-serif;
   
  }
/* {outline: 1px solid olive;} Para ver las lineas */ 
body {
  font-family: var(--front);
  color: black;
  width: 1060px;
  background-color: #edddf9;
  margin-left: 50px;
}

img {
   margin-right: 26px;     
  } 

header {
  width: 1060px;
  height: 280px;
  background-color: var(--principal-btn-color);
  display: flex;
  border:  10px #772ce8 ;  
  color: var(--principal-btn-activo);
  padding-top: 5px;
  padding-left: 16px;
}

nav {
  display: flex;
  padding-left: 150px ;

}

section {
    width: 1000px;
    margin: 2rem ;
    border: 56px #772ce8 ; 
    padding-left: 16px;
} 
.mapa{
  border: 2px solid #772ce8 ;
  margin-top: 20px;
}

ul {
  list-style-type: "👾";
  
} 

a, a:link, a:visited, a:hover {
  text-decoration: none;
  color: var(--nord1);
}

/* Footer */
footer{
  background: #772ce8;
  padding: 15px 0 15px 0;
  margin: auto;
  overflow: hidden;
}
.contenedor-pie {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 20px;
}

.titulo-final{
  text-align: center;
  font-size: 14px;
  margin: 20px 0 0 0;
  color: #b1a093;
}